
<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-6">Bienvenido a UADYTOUR</h1>
 
  </div>
</div>

<input type="search" placeholder="Buscar" (keyup.enter)="buscarInformacion(miInputSearch.value)" #miInputSearch>

<main class="container">
  <div *ngFor="let item of dataMaps" class="card mb-3" style="max-width: 50rem;">
    <p class="lead">Este es un título centrado y bonito con Bootstrap</p>
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <div style="max-width: 100%; overflow: hidden;">
        <iframe
          width="100%"
          height="400"
          frameborder="0"
          style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          [src]="generateUrl(item.latitud,item.longitud)"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</main>
